    <br /><br /><br />

    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <label class="text-left">Regional: </label>
        </div>
        <div class="col-md-10">
          <p-autoComplete [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)"
            field="name" [size]="30" [minLength]="1">
          </p-autoComplete>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label class="text-right">Administração: </label>
        </div>
        <div class="col-md-10">
          <p-autoComplete [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)"
            field="name" [size]="30" [minLength]="1">
          </p-autoComplete>
        </div>
      </div>
    </div>

    <p-table [value]="locals">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">Cód. Relatório</th>
          <th class="text-center">Nome</th>
          <th class="text-center">Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-local>
        <tr>
          <td class="text-center">{{local.id}}</td>
          <td class="text-center">{{local.administrations[0].name}}</td>
          <td class="text-center">
            <button pButton type="button" label="Cadastrar Reunião"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>


