<br /><br /><br />

<div id="wrapper">
    <form class="form-inline">
        <div class="form-group row">
            <div class="col-md-2">
                <label for="inputRegional">Igreja: </label>
            </div>
            <div class="col-md-4">
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password"> 
            </div>
            <div class="col-md-2">
                <label for="inputRegional">Regional: </label>
            </div>
            <div class="col-md-4">
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
        </div>
    </form>
</div>