<div class="container-fluid">
  <h1>Reuniões Agendadas</h1>

  <hr />

  <br />

  <p-messages [value]="msgs"></p-messages>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Reunião</th>
        <th>Igreja</th>
        <th>Salão</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meeting of meetings">
        <td *ngIf="meeting.status != 'FINISHED'">{{ meeting.name }}</td>
        <td *ngIf="meeting.status != 'FINISHED'">{{ meeting.churchName }}</td>
        <td *ngIf="meeting.status != 'FINISHED'">{{ meeting.churchRoom }}</td>
        <td *ngIf="meeting.status != 'FINISHED'" class="text-center">
          <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
          <button type="button" (click)="openMeeting(meeting.id, meeting)" pButton icon="pi pi-check" label="Abrir" class="ui-button-info"
            id="openMeeting"></button>
          <button type="button" (click)="cancelMeeting()" pButton icon="pi pi-times" label="Cancelar"
            class="ui-button-danger"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
