<div class="container-fluid">

  <br /><br /><br />

  <h1>Igrejas</h1>

  <hr />

  <br />

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Código Relatório</th>
        <th class="text-center">Nome</th>
        <th class="text-center">Descrição</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">IGR-001</td>
        <td class="text-center">Central</td>
        <td class="text-center">Igreja Central de Guaratinguetá</td>
        <td class="text-center">
          <button pButton type="button" label="Editar" class="ui-button-success"></button>
          <button pButton type="button" label="Excluir" class="ui-button-info" (click)="accessMeeting()"></button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
