<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <br /><br />
      <img src="../../../../assets/img/logotipo-ccb.png" class="logotipo" />
      <br />
      <hr>
      <h4 class="text-center">Fazer login</h4>
      <form class="form">
        <div class="alert alert-error" role="alert" *ngIf="message">
          <strong>Nome ou senha inválida</strong>
        </div>
        <div class="form-group">
          <!-- <input [(ngModel)]="user.email" type="text" class="validate form-control" name="email"> -->
          <input type="text" name="username" [(ngModel)]="username" class="validate form-control">
        </div>
        <div class="form-group">
          <!-- <input [(ngModel)]="user.password" type="password" class="validate form-control" name="password"> -->
          <input type="password" name="password" [(ngModel)]="password" class="validate form-control">
        </div>
        <button pButton type="submit" label="Entrar" (click)=checkLogin() class="btn btn-primary btn-lg btn-block"></button>
        <!-- <button pButton type="submit" label="Entrar" (click)="login()"></button> -->
      </form>
    </div>
  </div>
</div>
